
/*
	Card - About
*/

/* About */
.text-box p {
	margin-top: 0;
}

.content.about p {
	margin-bottom: 0;
}

.info-list {
	padding-top: 0;
}

.content.contacts .info-list ul {
	margin: -11px -30px 0 -30px;
	font-size: 0;
}

.info-list ul li {
	padding: 11px 0;
	position: relative;
	display: block;
	vertical-align: top;
	width: auto;
	font-size: 16px;
	word-break: break-word;
	text-align: right;
}

.content.contacts .info-list ul li {
	padding: 11px 30px;
	display: inline-block;
	vertical-align: top;
	width: 50%;
}

.info-list ul li:first-child {
	padding-top: 0;
}

.content.contacts .info-list ul li:first-child {
	padding-top: 11px;
}

.info-list ul li:last-child {
	padding-bottom: 0;
}

.content.contacts .info-list ul li:last-child {
	padding-bottom: 11px;
}

.info-list ul li:last-child:before {
	display: none;
}

.content.contacts .info-list ul li:last-child:before {
	display: block;
}

.info-list ul li:before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background: -moz-radial-gradient(center, ellipse cover, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
	background: -webkit-radial-gradient(center, ellipse cover, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
	background: radial-gradient(ellipse at center, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
}

.info-list ul li strong {
	float: left;
	margin-right: 8px;
	padding: 1px 8px;
	background: #6495ed;
	font-size: 14px;
	line-height: 20px;
	color: #fefefe;
	font-weight: 400;
	text-transform: none;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
}

.info-list ul li strong:after {
	margin-left: 0!important;
}

@media (max-width: 1199px) {
	.content.about .row .col:first-child {
		padding-bottom: 0;
	}
	.info-list ul li, .content.contacts .info-list ul li {
		padding: 11px 30px;
		display: block;
		width: 100%;
	}
	.content.about .info-list ul {
		margin: -11px -30px 0 -30px;
	}
}

@media (max-width: 560px) {
	.info-list ul li {
		display: block;
		width: auto;
	}
	.content.about .info-list ul {
		margin: -11px -30px 0 -30px;
	}
	.content.contacts .info-list ul {
		margin: -11px auto 0 auto;
	}
	.content.contacts .info-list ul li {
		padding: 11px 0;
		display: block;
		vertical-align: top;
		width: auto;
	}
	.content.contacts .info-list ul li:first-child {
		padding-top: 11px;
	}
	.content.contacts .info-list ul li:last-child {
		padding-bottom: 11px;
	}
	.content.contacts .info-list ul li:last-child:before {
		display: block;
	}
}

/*
	Typography
*/

p {
	font-size: 16px;
	line-height: 1.8em;
	margin: 0 0 25px 0;
}

strong {
	font-weight: 600;
}

.service-items .service-item .icon .fab, .service-items .service-item .icon .fas, .service-items .service-item .icon .fa {
    font-size: 28px;
}

.service-items .service-item .icon .ion, .service-items .service-item .icon .fab, .service-items .service-item .icon .fas, .service-items .service-item .icon .fa {
    display: block;
    line-height: 60px;
}

.fa {
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.client-items .client-item img:hover {
    opacity: .8;
    -webkit-transition: all .3s ease 0s;
}